<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>


<body style='background-image:url(/media/img/crossword.png)'>
<!-- 	/* Background pattern from subtlepatterns.com */ -->
	<div class='container'>
		<div style='height:5px'></div>
		<div class='head' style='border-bottom: 2px solid #0065bd; height: 30px;'>
			<a href='/auth/welcome' style='margin-left:10px;'>Log in</a>&nbsp;&nbsp;&nbsp;
			<a href='/auth/standings' style='margin-left:10px;'>View Standings</a>&nbsp;&nbsp;&nbsp;
			<a href='/tester' style='margin-left:10px;'>Home</a>
		</div>
		<div class='row' style='height:300px'>
			<div class='col-xs-2'>
				<br>
				<img src="/media/img/apple-touch-icon-120x120.png" alt="..." class="img-responsive img-circle center-block">
			</div>
			<div class='col-xs-8'>
				<br>
				<p>This site was built by Jacob Rosch with extensive design help from Alex Bloom, Griffin Dowdy, Jeff Martin, and Steve Rowe. Rankings and analytic ideas come from ABC-Austin and the Crimson Team. The app is built on jquery-mobile, but this page is built on Twitter-Bootstrap. Check out our code on github if that's your thing: <a href='https://github.com/taotejacob/fooseapp'>https://github.com/taotejacob/fooseapp</a></p>
				<p>As has been said previously, this site is in no way endorsed or affiliated with The Advisory Board Company or EAB.</p>
			</div>
			<div class='col-xs-2'>
			</div>
		</div>
	</div>
</body>
</html>
