<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <script src="stylesheets/jquery.js"></script>
        <script src="stylesheets/jquery.mobile.js"></script>

        <link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/media/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/media/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/media/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/media/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/media/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/media/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/media/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/media/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/media/img/apple-touch-icon-152x152.png" />

        <title>Education Advisory Board Fooseball League</title>

<!-- 	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

 -->
    </head>
<body>

  {% block content %}
  {% endblock %}

</body>
</html>