<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <script src="stylesheets/jquery.js"></script>
        <script src="stylesheets/jquery.mobile.js"></script>

        <title>Education Advisory Board Fooseball League</title>

<!-- 	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

 -->
    </head>
<body>

  {% block content %}
  {% endblock %}

</body>
</html>