{% extends "base.html" %}

{% block content %}

<!-- Start of first page: #one -->
<div data-role="page" id="tourney">

    <div data-role="header">
        <a href="/auth/welcome" data-icon="home">Home</a>
        <h1>Tournament Time </h1>
        <a href="{{logout_url}}" data-icon="minus">Log Out</a>
    </div><!-- /header -->

	<div role="main" class="ui-content">
        <br>
		<h2>Select Players</h2>
	       {{data1}}
            <form data-ajax="false" method="post">
                <fieldset data-role="group1">
                    <legend>Select your team:</legend>
                    {% for player in num_players%}
                    <input type="checkbox" name="team_1" id="{{player+1}}" value="{{player_set[player]}}">
                    <label for="{{player+1}}">{{player_set[player]}}</label>
                    {% endfor %}
                  
                </fieldset>
                <br>
                <input type="submit" value="Submit">
            </form>

	</div><!-- /content -->

</div><!-- /page one -->


{% endblock %}
