{% extends "base.html" %}

{% block content %}

<!-- Start of first page: #one -->
<div data-role="page" id="hold_log">

	<div data-role="header">
		<h1>Welcome</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
        <p>Welcome to the official home of the Education Advisory Board's Fooseball League. Use this site to record games, check league standings, and access advance statistics. Email Jacob if you find an error or have a new idea for functionality.</p>
		<br>	
            
        <a href="/" data-role="button">Enter Games</a>
        

	</div><!-- /content -->

</div><!-- /page one -->

{% endblock %}
