{% extends "base.html" %}
{% block content %}

<!-- Start of first page: #one -->
<div data-role="page" id="welcome">

  <div data-role="header">
    <a href="/" data-icon="home">Home</a>
        <h1>Welcome back {{user_nickname}}</h1>
        <a href="{{logout_url}}" data-icon="minus">Log Out</a>
  </div><!-- /header -->

  <div role="main" class="ui-content">
      <h2>Monthly League Standings</h2>
      <br>
      <h3>Singles</h3>

        <table data-role="table" id="singles_table" class="ui-responsive table-stroke">
          <thead>
           <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Games</th>
            <th>P-Score</th>
            <th>Win %</th>
            <th>Goal Diff</th>
            <th>Adj Goal Diff</th>
          </tr>
          <tbody>
            {% for p in nplayers1v1 %}
            <tr>
              <td>{{p + 1}}</td>
              <td>{{statlist1v1[p][1]}}</td>
              <td>{{statlist1v1[p][2]}}</td>
              <td>{{statlist1v1[p][0]}}</td>
              <td>{{statlist1v1[p][3]*100}}%</td>
              <td>{{statlist1v1[p][4]}}</td>
              <td>{{statlist1v1[p][5]}}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        <br>

        <h3>Doubles</h3>
        <table data-role="table" id="doubles_table" class="ui-responsive table-stroke">
          <thead>
           <tr>
            <th>Player</th>
            <th>Games</th>
            <th>Win %</th>
            <th>Goal Diff</th>
            <th>Adj Goal Diff</th>
          </tr>
          <tbody>
            {% for p in nplayers2v2 %}
            <tr>
              <td>{{statlist2v2[p][1]}}</td>
              <td>{{statlist2v2[p][2]/2}}</td>
              <td>{{statlist2v2[p][3]*100}}%</td>
              <td>{{statlist2v2[p][4]/2}}</td>
              <td>{{statlist2v2[p][5]/2}}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        <br>

        <h3>Cut-Throat</h3>
        <table data-role="table" id="doubles_table" class="ui-responsive table-stroke">
          <thead>
           <tr>
            <th>Player</th>
            <th>Games</th>
            <th>Win %</th>
            <th>Goal Diff</th>
            <th>Adj Goal Diff</th>
          </tr>
          <tbody>
            {% for p in nplayers1v2 %}
            <tr>
              <td>{{statlist1v2[p][1]}}</td>
              <td>{{statlist1v2[p][2]/2}}</td>
              <td>{{statlist1v2[p][3]*100}}%</td>
              <td>{{statlist1v2[p][4]/2}}</td>
              <td>{{statlist1v2[p][5]/2}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>         
      <br>

      <a href="players" class="ui-btn">Input Scores</a>    

  </div>

</div>


{% endblock %}
