{% extends "base.html" %}

{% block content %}

<!-- Start of first page: #one -->
<div data-role="page" id="welcome">

  <div data-role="header">
    <a href="/auth/welcome" data-icon="home">Home</a>
        <h1>Welcome back {{user_nickname}}</h1>
        <a href="{{logout_url}}" data-icon="minus">Log Out</a>
  </div><!-- /header -->

	<div role="main" class="ui-content">
    <p>We've gone minimalistic. Add your scores or check your standings.</p> 

      <br>

      <a href="/auth/players" class="ui-btn">Input Scores</a><br>
      <a href='/auth/standings' class='ui-btn'>Standings</a><br>
      <a href='/auth/output' class='ui-btn'>Recent Games</a><br>

	</div><!-- /content -->

</div><!-- /page one -->


{% endblock %}
