{% extends "base.html" %}

{% block content %}

<!-- Start of first page: #one -->
<div data-role="page" id="welcome">

  <div data-role="header">
    <a href="/" data-icon="home">Home</a>
        <h1>Welcome back {{user_nickname}}</h1>
        <a href="{{logout_url}}" data-icon="minus">Log Out</a>
  </div><!-- /header -->

	<div role="main" class="ui-content">
    <p>We've gone minimalistic. Add your scores or check your standings.</p> 
<!--       <h2>Monthly League Standings</h2>
        <table data-role="table" id="results_table" class="ui-responsive table-stroke">
          <thead>
           <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Win %</th>
          </tr>
          <tbody>
            {% for player in num_players %}
            <tr>
              <th>{{player + 1}}</th>
              <td>{{win_data[player][0]}}</td>
              <td>{{win_data[player][1]*100}}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  --> 

      <br>

      <a href="players" class="ui-btn">Input Scores</a><br>
      <a href='standings' class='ui-btn'>Standings</a>

	</div><!-- /content -->

</div><!-- /page one -->


{% endblock %}
